*{
	margin: 0;
	padding: 0;
}

nav{
	width: 100%;
	height: 20%;
}

#navNoticias{
	width: 100%;
	border: black 5px solid;
	height: 10%;
	padding-left: 5%;
}

#section1 {
	height: 360vh;
}

#divTexto1 {
	height: 39vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
}

#divTexto2 {
	height: 36vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
}

#divTexto3 {
	height: 36vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
}

#divTexto4 {
	height: 36vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
}

#divTexto5 {
	height: 36vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
}

footer{
	
	background-color: black;
	width: 100%;
	height: 10%;
	color: white;
	text-align: center;
	
	clear: both;
}

#margenMedio{
	padding-left:35%; 
}

 /*
 Media queries para hacer el footer responsive ya que está hecho con css
 */

 @media only screen and (min-width: 577px) and (max-width: 768px){
 	#divTexto1 {
	height: 82vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
	margin-bottom: 3vh;
}

	#divTexto2 {
	height: 70vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
	margin-bottom: 3vh;
}	

	#divTexto3 {
	height: 60vh;
	padding: 1vw;
	border: 1px solid black;
	margin-bottom: 3vh;
}

	#divTexto4 {
	height: 60vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
}

	#divTexto5 {
	height: 60vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
	margin-bottom: 2vh;
}

#section1 {
	height: 400vh;
}


 }

 @media only screen and (min-width: 426px) and (max-width: 576px){

 	#divTexto1 {
	height: 60vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
	margin-bottom: 3vh;
}

	#divTexto2 {
	height: 50vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
	margin-bottom: 3vh;
}	

	#divTexto3 {
	height: 45vh;
	padding: 1vw;
	border: 1px solid black;
	margin-bottom: 3vh;
}

	#divTexto4 {
	height: 40vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
}

	#divTexto5 {
	height: 40vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
	margin-bottom: 2vh;
}

#section1 {
	height: 590vh;
}


 }

@media only screen and (min-width: 300px) and (max-width: 425px){

	#telefono{
		width: 100%;
	}

	#divTexto1 {
	height: 60vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 1vh;
	margin-bottom: 3vh;
}

	#divTexto2 {
	height: 55vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
	margin-bottom: 3vh;
}	

	#divTexto3 {
	height: 50vh;
	padding: 1vw;
	border: 1px solid black;
	margin-bottom: 3vh;
}

	#divTexto4 {
	height: 45vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
}

	#divTexto5 {
	height: 45vh;
	padding: 1vw;
	border: 1px solid black;
	margin-top: 4vh;
	margin-bottom: 2vh;
}

	#section1 {
	height: 530vh;
}


}

